* {
    font: "JetBrains Mono Nerd Font 10";
}

* {
    background:     #282828FF;
    background-alt: #32303fFF;
    foreground:     #ebdbb2FF;
    selected:       #ebddd2FF;
    active:         #98971aFF;
    urgent:         #fb4934FF;
}
